/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
/* line 18, ../../app/assets/stylesheets/application.css.scss */
#main .error {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 5px;
  font-size: 14pt;
  background-color: rgba(240, 240, 187, 0.52);
  border: 1px solid #d8c45e;
  color: #f73737;
  min-height: 100px;
  margin: 100px 50px 0px 50px;
}
